* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 0;
  padding: 0;
}

:root {
  --main-color: #2c2c2e;
  --secondary-color: #3c3c3e;
  --text-color: #e5e5ea;
}

body {
  background-color: #1c1c1e;
  background-image: url("./icons/bg2.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  color: var(--text-color);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.error-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container {
  background-color: var(--main-color);
  background: #1c1c1e4f;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;
  padding: 20px;
  width: 400px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.4),
    inset 0px 0px 20px rgba(255, 255, 255, 0.2);
}

header h1 {
  font-weight: 500;
  text-align: center;
  margin: 0;
  padding: 10px 0;
  font-size: 24px;
  color: var(--text-color);
}

/* color vars */

.task-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
}

#new-task {
  background: transparent;
  flex: 1;
  outline: none;
  color: var(--text-color);
  border: none;
  border-radius: 10px;
  padding: 10px;
  padding-left: 18px;
  width: 100%;
  font-size: 16px;
}

#new-task:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px var(--secondary-color) inset;
  -webkit-text-fill-color: var(--text-color);
}

#new-task::placeholder {
  color: #a1a1a379;
}

#add-task {
  background: linear-gradient(45deg, #9c27b0, #03a9f4);
  background-size: 150% 150%;
  background-position: left;
  border: none;
  border-radius: 10px;
  padding: 10px;
  width: 50px;
  height: 40px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 18px;
  transition: background-position 0.3s ease;
}

#add-task:hover {
  background-position: right;
}

.task-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.task-item {
  display: flex;
  align-items: center;
  background-color: var(--main-color);
  padding: 10px 0;
  border-radius: 10px;
  margin-bottom: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
  transition: background 0.3s ease;
}

.task-item:hover {
  background-color: var(--secondary-color);
  transition: background 0.3s ease;
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin-right: 15px;
  padding-left: 15px;
}

.checkbox-container input {
  display: none;
}

.checkbox-container .checkmark {
  width: 20px;
  height: 20px;
  background-color: #444;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.checkbox-container .checkmark::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #9c27b0, #03a9f4);
  transition: opacity 0.15s ease;
  opacity: 0;
  z-index: 1;
}

.checkbox-container input:checked + .checkmark::before {
  opacity: 1;
}

.checkbox-container .checkmark::after {
  content: url("./icons/check.svg");
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -42%);
  color: white;
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.15s ease;
  z-index: 2;
}

.checkbox-container input:checked + .checkmark::after {
  opacity: 1;
}

.task-text {
  flex-grow: 1;
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  padding: 5px 8px;
  width: 0;
}

.task-text.done {
  text-decoration: line-through;
  color: #a1a1a3;
}

.edit-input {
  background: #454547;
  flex-grow: 1;
  border: none;
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
  padding: 5px 8px;
  outline: none;
  border-radius: 10px;
  margin-right: 15px;
  transition: background 0.3s ease, color 0.3s ease;
}

.edit-input:focus {
  background: #515155;
  color: #ffffff;
}

.edit-button,
.delete-button,
.save-button,
.cancel-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  transition: all 0.3s ease;
  width: 30px; /* Button size */
  height: 30px; /* Button size */
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%; /* Make the button circular */
  background-color: var(--secondary-color); /* Initial background color */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Initial shadow for 3D effect */
  padding: 0; /* Remove padding */
}

/* Styling the span inside the buttons */
.edit-button span,
.delete-button span,
.save-button span,
.cancel-button span {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px; /* Size of the icon inside */
  height: 20px; /* Size of the icon inside */
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Setting the icon images */
.delete-button span {
  background-image: url("./icons/delete.svg");
}

.edit-button span {
  background-image: url("./icons/edit.svg");
}

.save-button span {
  background-image: url("./icons/save.svg");
}

.cancel-button span {
  background-image: url("./icons/cancel.svg");
}

/* Hover Effect */
.edit-button:hover,
.delete-button:hover,
.save-button:hover,
.cancel-button:hover {
  transform: scale(1.1);
  background: linear-gradient(
    45deg,
    #9c27b0,
    #03a9f4
  ); /* Gradient background */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.4); /* Enhanced shadow for a deeper 3D effect */
}

/* Active (Pressed) Effect */
.edit-button:active,
.delete-button:active,
.save-button:active,
.cancel-button:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Indentation effect */
  transform: translateY(
    2px
  ); /* Moves the button slightly downwards to create an indentation */
}

.delete-button,
.cancel-button {
  padding-left: 6px;
  padding-right: 7px;
}

footer {
  padding: 10px 0;
  text-align: center;
  border-top: 1px solid var(--secondary-color);
  margin-top: 10px;
}

footer .task-count {
  color: #9c27b0;
}
